body {
    background-image: url("../images/background.jpg");
}

.placeholder {
    height: 120px;
    width: 290px;
    border-style: solid;
    border-color: rgb(90, 25, 25);
    border-width: 5px;
}

.placeholder-one {
    height: 120px;
    width: 80px;
    border-style: solid;
    border-color: rgb(90, 25, 25);
    border-width: 5px;
}

.placeholder-three {
    height: 120px;
    width: 220px;
    border-style: solid;
    border-color: rgb(90, 25, 25);
    border-width: 5px;
}


.instruction {
    font-size: 17px;
    font-family: 'Rancho', cursive;
    color: rgb(90, 25, 25);
    font-weight:400;
}

.container {
    background-color: rgba(255, 249, 226, 0.767);
}


header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Chango', cursive;
    color: rgb(90, 25, 25);
}

.imgStyle {
    width: 70px;
    height: 60px;
}

.charDivStyle {
    width: 70px;
    height: 110px;
    border-style: dotted;
    border-color: gray;
    border-width: 1px;
    float: left;
    font-size: 10px;
    font-weight: bold;
}

.charNameStyle {
    font-weight: bold;
    text-decoration: underline;
    font-size:10px;
}

.allChar {
    background-color: white;
}

.pokemonChosen {
    background-color: green;
}

.enemyChar {
    background-color: white;
    z-index: 10;
}

.defeatedChar {
    background-color: darkgray;
    position: static;
}

.defeatedSign {
    background-color: rgb(39, 39, 39);
    font-style: italic;
    color: white;
    font-size: 10px;
    width: 72px;
    padding: 5px 0px;
    text-align: center;
    position: relative;
    right: 2px;
    bottom: 60px;
    visibility: hidden;
}

.defeatedSignShow {
    background-color: rgb(39, 39, 39);
    font-style: italic;
    color: white;
    font-size: 10px;
    width: 72px;
    padding: 5px 0px;
    text-align: center;
    position: relative;
    right: 2px;
    z-index: 5;
    bottom: 60px;
}


.currentEnemyChar {
    background-color: red;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: inset;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    width: 100%;
    clear: both;

}

button {
    margin-top: 190px;
    margin-bottom: 15px;
}
